*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin: 24px;
    margin-left: 48px ;
    border-radius: 3px;
    padding: 8px;
    text-align: center;
    justify-content: center;
    background-color: rgba(195, 214, 234, 0.833);
    display: inline-block;
    border: 1px solid rgb(47, 48, 29);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

button{
    background-color: #d2b9e8;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px;
    margin: 24px;
}